.product-card-container {
  padding: 8px;
  height: 360px;
  width: 100%;
  max-width: 420px;
  //background-color: #fbf2ff;
  .product-image {
    object-fit: contain;
    padding-bottom: 8px;
  }
  .product-title {
    text-align: center;
    height: 64px;
  }
  .product-detail {
    display: flex;
    justify-content: space-around;
    height: 70%;
    align-items: center;
  }
  .item-detail-value {
    color: #000;
  }
}
